#seja-franqueado {
    padding-top: 64px;
    padding-bottom: 114px;
    overflow: hidden;
}

#mainFooter {
    position: relative;
    color: #fff;
    background-color: $roxo;
    padding-bottom: 30px;
    overflow: hidden;
    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px;
        background-color: #fff;
        z-index: 1;
    }
    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        height: 50px;
        background-color: $laranja;
        z-index: 1;
    }
    p {
        margin: 0;
    }
    #owl-instagram {
        position: relative;
        z-index: 3;
        margin-bottom: 60px;
        .owl-stage-outer {
            overflow: visible;
        }
        .img {
            position: relative;
            padding-bottom: 100%;
            border-radius: 8px;
            overflow: hidden;
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .logo {
        margin-bottom: 35px;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        @include breakpoint(md) {
            margin-bottom: 0;
        }
        img {
            margin-bottom: 20px;
            @include breakpoint(md) {
                margin-bottom: 0;
                margin-right: 27px;
            }
        }
    }
    .redes {
        h5 {
            margin-bottom: 8px;
            margin-right: 21px;
            font-weight: 400;
            font-size: 16px;
            line-height: 21px;
            @include breakpoint(md) {
                margin-bottom: 0;
            }
        }
    }
    .copyrights {
        margin-top: 34px;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        @include breakpoint(md) {
            margin-top: 84px;
        }
        ul {
            li {
                & + li {
                    @include breakpoint(md) {
                        margin-left: 16px;
                        padding-left: 16px;
                        border-left: 1px solid $laranja;
                    }
                }
            }
        }
    }
}
