body {
    color: $roxo;
}

main {
    overflow: hidden;
    &.page {
        padding-top: 70px;
        @include breakpoint(md) {
            padding-top: 90px;
        }
        .page-header {
            text-align: center;
            max-width: 700px;
            h5 {
                margin-bottom: 8px;
                font-weight: 400;
                font-size: 18px;
                line-height: 21px;
            }
            h1 {
                margin-bottom: 25px;
                font-weight: 500;
                font-size: 24px;
                line-height: 29px;
                text-align: center;
                letter-spacing: -0.02em;
                @include breakpoint(md) {
                    font-size: 40px;
                    line-height: 48px;
                }
            }
        }
    }
}

.laranja {
    color: $laranja;
}

.container {
    width: 100%;
    max-width: 1160px;
    &.sm {
        max-width: 790px;
    }
    &.lg {
        max-width: 100% !important;
    }
}

.breadcrumb {
    margin-top: 20px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #cecccc;
    padding: 0;
    background-color: transparent;
    .breadcrumb-item {
        &.active {
            color: #cecccc;
        }
        & + .breadcrumb-item {
            padding-left: 16px;
            &:before {
                color: #cecccc;
                padding-right: 16px;
            }
        }
    }
}

.btn {
    color: $roxo;
    padding: 12px 24px;
    border: 1px solid $laranja;
    border-radius: 24px;
    &:hover {
        color: #fff;
        background-color: $laranja;
    }
}

.articles {
    .article {
        transition: all 200ms ease-in-out;
        transform: translateY(0);
        &:hover {
            transform: translateY(-10px);
            .resumo {
                color: $roxo;
            }
        }
        .img {
            margin-bottom: 16px;
            img {
                width: 100%;
                height: 210px;
                object-fit: cover;
            }
        }
        .cat {
            margin-bottom: 16px;
            color: $laranja;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.2em;
            text-transform: uppercase;
        }
        .resumo {
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            color: #323232;
            transition: all 200ms ease-in-out;
        }
    }
}

.video-player {
    display: block;
    position: relative;
    &.mascara {
        &::before {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(180deg, rgba(118, 83, 156, 0) 44.79%, #76539c 100%);
            z-index: 2;
        }
    }
    &:hover {
        .play {
            transform: translate(-50%, -50%) scale(0.85);
        }
    }
    .cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
    }
    .play {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 180px;
        height: 180px;
        background-image: url("images/icons/icn-play.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        text-indent: 180px;
        overflow: hidden;
        transform: translate(-50%, -50%) scale(1);
        transition: all 300ms cubic-bezier(0.86, -0.85, 0.46, 1.68);
        z-index: 2;
    }
}

.owl-nav-dots {
    button {
        padding: 0;
        border: none;
        background-color: transparent;
    }
    .owl-dots {
        margin: 0 32px;
        button {
            width: 12px;
            height: 12px;
            border-radius: 12px;
            background-color: transparent;
            border: 1px solid;
            transition: all 100ms ease-in-out;
            & + button {
                margin-left: 8px;
            }
            &.active {
                background-color: $roxo;
            }
        }
    }
}

a {
    color: inherit;
    &:hover {
        color: inherit;
        text-decoration: none;
    }
    &.seta {
        color: $laranja;
        line-height: 24px;
        text-decoration: underline;
        &:before {
            content: "";
            display: inline-block;
            width: 40px;
            height: 24px;
            margin-right: 8px;
            background-image: url("images/icons/icn-right.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            vertical-align: bottom;
            transition: all 200ms ease-in-out;
            transform: translateX(0px);
        }
        &:hover {
            &:before {
                transform: translateX(4px);
            }
        }
        &.roxa {
            color: $roxo;
            &:before {
                background-image: url("images/icons/icn-right-purple.svg");
            }
        }
    }
}

button {
    &:active,
    &:focus {
        outline: none;
        box-shadow: none;
    }
}

figure {
    &.cover {
        margin: 0;
        position: relative;
        border-radius: 16px;
        overflow: hidden;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

ul {
    &.social {
        padding-left: 0;
        list-style: none;
        li {
            & + li {
                margin-left: 21px;
            }
            a {
                display: block;
                width: 48px;
                height: 48px;
                background-position: center;
                background-repeat: no-repeat;
                opacity: 1;
                transition: all 200ms ease-in-out;
                &.instagram {
                    background-image: url("images/icons/icn-instagram.svg");
                }
                &.facebook {
                    background-image: url("images/icons/icn-facebook.svg");
                }
                &:hover {
                    opacity: 0.6;
                }
            }
        }
    }
}

section {
    &.roxo {
        color: #fff;
        background-color: $roxo;
    }
    .section-header {
        p {
            margin-top: 35px;
            margin-bottom: 0;
            @include breakpoint(md) {
                margin-top: 0;
            }
            & + a {
                display: inline-block;
                margin-top: 16px;
            }
            & + p {
                margin-top: 24px;
            }
            br {
                display: none;
                @include breakpoint(md) {
                    display: block;
                }
            }
        }
    }
}

form {
    &.search {
        position: relative;
        input {
            &[type="submit"] {
                position: absolute;
                right: 16px;
                top: 50%;
                width: 24px;
                height: 24px;
                padding: 0;
                border: none;
                background-color: transparent;
                background-image: url("images/icons/icn-lupa.svg");
                background-repeat: no-repeat;
                background-position: center;
                transform: translateY(-50%);
            }
        }
    }
    &.newsletter {
        position: relative;
        input {
            &[type="submit"] {
                position: absolute;
                right: 16px;
                top: 50%;
                width: 24px;
                height: 24px;
                padding: 0;
                border: none;
                background-color: transparent;
                background-image: url("images/icons/icn-seta-laranja.svg");
                background-repeat: no-repeat;
                background-position: center;
                transform: translateY(-50%);
            }
        }
    }
    input {
        display: block;
        width: 100%;
        height: auto;
        padding: 16px;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        color: #929292;
        border: 1px solid #76539c;
        border-radius: 8px;
        &.search {
            border: none;
            box-shadow: 0px 8px 20px -8px rgba(0, 0, 0, 0.15);
            background-image: url("images/icons/icn-lupa.svg");
            background-repeat: no-repeat;
            background-position: 95% center;
            &:focus,
            &:active {
                outline: none;
                box-shadow: 0px 8px 20px -8px rgba(0, 0, 0, 0.15);
            }
        }
    }
}

#mapa-franquias {
    max-width: 100%;
    &.alt {
        .heart {
            fill: $laranja !important;
            &.active {
                fill: $roxo !important;
            }
        }
        .text {
            fill: #fff !important;
            &.active {
                fill: #fff !important;
            }
        }
    }
    .heart,
    .text {
        transition: all 200ms ease-in-out;
    }
    .heart {
        cursor: pointer;
        &.active {
            fill: $roxo !important;
        }
    }
    .text {
        cursor: pointer;
        &.active {
            fill: #fff !important;
        }
    }
}

#page-404 {
    section {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    h1 {
        margin-bottom: 24px;
        font-size: 100px;
        line-height: 72px;
    }
    h4 {
        font-weight: normal;
        font-size: 18px;
        margin-bottom: 48px;
    }
    .btn {
        color: #fff;
    }
}

a.qualitare {
    display: block;
    margin: 0;
    width: 23px;
    height: 22px;
    background-image: url("images/logo-qualitare.svg");
    background-repeat: no-repeat;
    background-position: right center;
    transition: all 400ms ease-in-out;
    &:hover {
        width: 97px;
    }
}

#generic-page {
    h1 {
        margin-top: 35px;
        font-size: 40px;
        margin-bottom: 32px;
    }
    .content {
        h1 {
            font-size: 32px;
        }
        h2 {
            font-size: 28px;
        }
    }
}
