body {
    &.page,
    &.single {
        &:not(.home) {
            #masthead {
                @include breakpoint(md) {
                    background-color: #fff;
                }
            }
        }
        &.page-template-page-unidades {
            #masthead {
                background-color: $roxo;
                color: #fff;
                .whatsapp {
                    color: #fff;
                }
                .btn {
                    color: #fff;
                }
                .nav-bar {
                    .site-branding {
                        .change {
                            fill: #fff !important;
                        }
                    }
                    .menu-toggle {
                        .icon {
                            background-color: #fff;
                            &:before,
                            &:after {
                                background-color: #fff;
                            }
                        }
                    }
                }
            }
            &.menu-open {
                #masthead {
                    .nav-bar {
                        .menu-toggle {
                            .icon {
                                background-color: transparent;
                            }
                        }
                    }
                }
            }
        }
    }
    &.search,
    &.error404 {
        #masthead {
            background-color: $roxo;
            color: #fff;
            .whatsapp {
                color: #fff;
            }
            .btn {
                color: #fff;
            }
            .nav-bar {
                .site-branding {
                    .change {
                        fill: #fff !important;
                    }
                }
                .menu-toggle {
                    .icon {
                        background-color: #fff;
                        &:before,
                        &:after {
                            background-color: #fff;
                        }
                    }
                }
            }
        }
        &.menu-scroll {
            #masthead {
                background-color: $roxo;
                color: #fff;
                .whatsapp {
                    color: #fff;
                }
                .btn {
                    color: #fff;
                }
                .nav-bar {
                    .site-branding {
                        .change {
                            fill: #fff !important;
                        }
                    }
                    .menu-toggle {
                        .icon {
                            background-color: #fff;
                            &:before,
                            &:after {
                                background-color: #fff;
                            }
                        }
                    }
                }
            }
        }
        &.menu-open {
            #masthead {
                .nav-bar {
                    .menu-toggle {
                        .icon {
                            background-color: transparent;
                        }
                    }
                }
            }
        }
    }
    &.home {
        #masthead {
            @include breakpoint(md) {
                opacity: 0;
                pointer-events: none;
                // transform: translateY(-80px);
                transition: all 200ms ease-in-out;
            }
        }
    }
    &.menu-scroll {
        #masthead {
            opacity: 1;
            pointer-events: auto;
            background-color: #fff;
            // transform: translateY(0px);
        }
    }
    &.menu-open {
        &.home {
            #masthead {
                opacity: 1;
                pointer-events: auto;
                // transform: translateY(0);
            }
        }
        #masthead {
            color: #fff;
            .whatsapp {
                color: #fff;
            }
            .btn {
                color: #fff;
            }
            .nav-bar {
                .site-branding {
                    .change {
                        fill: #fff !important;
                    }
                }
                .menu-toggle {
                    .icon {
                        background-color: transparent;
                        &:before,
                        &:after {
                            background-color: #fff;
                        }
                        &::before {
                            top: 50%;
                            transform: rotate(45deg) translateY(-50%);
                        }
                        &::after {
                            top: 50%;
                            transform: rotate(-45deg) translateY(-50%);
                        }
                    }
                }
            }
            #menu {
                opacity: 1;
                pointer-events: auto;
            }
        }
    }
}

header {
    &#masthead,
    &#homeheader {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        padding-top: 5px;
        padding-bottom: 5px;
        z-index: 999;
        background-color: #fff;
        @include breakpoint(md) {
            padding-top: 15px;
            padding-bottom: 15px;
            background-color: transparent;
        }
        &#homeheader {
            position: absolute;
            padding-top: 32px;
            color: #fff;
            z-index: 99;
            .whatsapp {
                color: #fff;
            }
            .btn {
                color: #fff;
            }
            .nav-bar {
                .site-branding {
                    .change {
                        fill: #fff !important;
                    }
                }
                .menu-toggle {
                    .icon {
                        background-color: transparent;
                        &:before,
                        &:after {
                            background-color: #fff;
                        }
                        &::before {
                            top: 50%;
                            transform: rotate(45deg) translateY(-50%);
                        }
                        &::after {
                            top: 50%;
                            transform: rotate(-45deg) translateY(-50%);
                        }
                    }
                }
            }
            .nav {
                font-size: 16px;
                line-height: 19px;
            }
        }
        .site-branding {
            max-width: 80px;
            @include breakpoint(md) {
                max-width: 116px;
            }
            svg {
                max-width: 100%;
            }
        }
        .whatsapp {
            margin-bottom: 25px;
            color: $roxo;
            font-size: 14px;
            line-height: 17px;
            @include breakpoint(md) {
                margin-left: 34px;
                margin-bottom: 0;
            }
            .icone {
                margin-right: 8px;
            }
            span {
                display: block;
                font-size: 12px;
                line-height: 14px;
                color: $laranja;
            }
        }
        .btn {
            margin-top: 24px;
            margin-bottom: 24px;
            @include breakpoint(md) {
                margin-top: 0;
                margin-bottom: 0;
            }
        }
        .nav-bar {
            position: relative;
            z-index: 2;
            .btn {
                margin-right: 40px;
            }
            .menu-toggle {
                cursor: pointer;
                width: 32px;
                height: 32px;
                position: relative;
                .icon {
                    width: 32px;
                    height: 2px;
                    background-color: $roxo;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    transition: all 200ms ease-in-out;
                    &:before,
                    &:after {
                        content: "";
                        display: block;
                        width: 100%;
                        height: 2px;
                        position: absolute;
                        left: 0;
                        background-color: $roxo;
                        transition: all 500ms cubic-bezier(0.32, -1.9, 0.71, 2.04);
                    }
                    &:before {
                        top: -7px;
                    }
                    &:after {
                        bottom: -7px;
                    }
                }
            }
        }
        #menu {
            position: fixed;
            width: 100%;
            height: 100vh;
            top: 0;
            left: 0;
            background-color: $roxo;
            z-index: 1;
            opacity: 0;
            pointer-events: none;
            transition: all 300ms ease-in-out;
            .info {
                position: absolute;
                top: 50%;
                left: 5%;
                width: 639px;
                height: 586px;
                padding: 370px 0 0 170px;
                font-size: 12px;
                line-height: 14px;
                background-image: url("images/bg-menu.svg");
                transform: translateY(-50%);
            }
            .nav {
                margin-top: 98px;
                text-align: center;
                font-size: 32px;
                line-height: 38px;
                @include breakpoint(md) {
                    // position: absolute;
                    margin-top: 0;
                    // right: 5%;
                    // top: 125px;
                    margin-top: 125px;
                    font-size: 48px;
                    line-height: 57px;
                    text-align: right;
                }
                .nav-item {
                    & + .nav-item {
                        margin-top: 8px;
                    }
                    &.current-menu-item,
                    &.page_item,
                    &.current_page_item {
                        .nav-link {
                            &:after {
                                width: 100px;
                            }
                        }
                    }
                    .nav-link {
                        padding: 0;
                        position: relative;
                        &:after {
                            @include breakpoint(md) {
                                content: "";
                                display: block;
                                width: 17px;
                                height: 1px;
                                position: absolute;
                                bottom: 0;
                                right: 0;
                                background-color: $laranja;
                                transition: all 200ms ease-in-out;
                            }
                        }
                        &:hover {
                            &:after {
                                width: 50px;
                            }
                        }
                    }
                }
            }
            .social-info {
                margin-top: 24px;
            }
        }
    }
}
