#page-blog {
    &.search {
        .section-header {
            margin-bottom: 45px;
        }
    }
    .breadcrumb {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .section-header {
        form {
            input {
                border: none;
                box-shadow: 0px 8px 20px -8px rgba(0, 0, 0, 0.15);
            }
        }
    }
    .filtros {
        margin-top: 30px;
        margin-bottom: 24px;
        border-bottom: 1px solid #cecccc;
        .nav-item {
            position: relative;
            padding-bottom: 15px;
            &.nav-title {
                font-size: 12px;
                line-height: 14px;
                text-align: left;
                text-transform: uppercase;
            }
            .nav-link {
                position: static;
                padding: 0 25px;
                font-size: 16px;
                line-height: 22px;
                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 3px;
                    transition: all 200ms ease-in-out;
                }
                &.active {
                    color: $laranja;
                    background-color: transparent;
                    &:after {
                        background-color: $laranja;
                    }
                }
            }
        }
    }

    #blog {
        .article {
            margin-bottom: 56px;
        }
        .alm-btn-wrap {
            text-align: center;
        }
        .btn {
            padding: 8px 16px;
            font-size: 18px;
            line-height: 21px;
            margin-bottom: 50px;
            background: #f9e4cd;
            border-radius: 8px;
            border: none;
            &:hover {
                background-color: $laranja;
            }
        }
    }

    #newsletter {
        text-align: center;
        .roxo {
            padding-top: 56px;
            padding-bottom: 56px;
            color: #fff;
            background: linear-gradient(321.81deg, #5f3d85 22.93%, #76539c 75.3%);
            border-radius: 16px;
        }
        h2 {
            margin-bottom: 40px;
        }
        h3 {
            font-weight: 600;
            font-size: 18px;
            line-height: 21px;
        }
        form {
            margin: 16px auto;
            max-width: 465px;
        }
        p {
            font-size: 12px;
            line-height: 14px;
        }
    }

    .article-single {
        .article-header {
            max-width: 970px;
            .meta {
                margin-bottom: 8px;
                line-height: 1;
                li {
                    + li {
                        border-left: 1px solid #cecccc;
                        padding-left: 8px;
                        margin-left: 8px;
                    }
                    &.cat {
                        color: $laranja;
                    }
                }
            }
            h2 {
                color: $roxo;
                padding-left: 0;
                font-size: 40px;
                line-height: 48px;
                letter-spacing: -0.02em;
                margin-bottom: 24px;
                &:before {
                    top: -0px;
                    left: -40px;
                }
            }
            .share {
                margin-bottom: 34px;
                li {
                    &+li {
                        margin-left: 27px;
                    }
                    &.title {
                        font-weight: 700;
                        letter-spacing: 0.1em;
                    }
                    a {
                        display: block;
                        width: 16px;
                        height: 16px;
                        background-position: center;
                        background-repeat: no-repeat;
                        &.whatsapp {
                            background-image: url("images/icons/icn-share-whatsapp.svg");
                        }
                        &.telegram {
                            background-image: url("images/icons/icn-share-telegram.svg");
                        }
                        &.facebook {
                            background-image: url("images/icons/icn-share-facebook.svg");
                        }
                        &.twitter {
                            background-image: url("images/icons/icn-share-twitter.svg");
                        }
                        &.linkedin {
                            background-image: url("images/icons/icn-share-linkedin.svg");
                        }
                    }
                }
            }
            .cover {
                padding-bottom: 50%;
            }
        }
        .article-body {
            padding-top: 32px;
            h1 {
                margin-top: 32px;
                margin-bottom: 32px;
                font-size: 36px;
                line-height: 54px;
            }
            h2 {
                margin-bottom: 32px;
                font-size: 30px;
                line-height: 48px;
            }
            h3 {
                margin-bottom: 32px;
                font-size: 24px;
                line-height: 40px;
            }
            h4 {
                margin-bottom: 16px;
                font-size: 18px;
                line-height: 24px;
            }
            h5 {
                margin-bottom: 16px;
                font-size: 24px;
                line-height: 44px;
            }
            h6 {
                margin-bottom: 16px;
                font-size: 12px;
                line-height: 14px;
            }
            .owl-galeria {
                margin-top: 32px;
                margin-bottom: 32px;
                text-align: center;
                h6 {
                    margin-bottom: 0;
                }
                .cover {
                    margin-bottom: 4px;
                    padding-bottom: 50%;
                }
                .owl-dots {
                    button {
                        width: 8px;
                        height: 8px;
                        border-radius: 8px;
                        background-color: $roxo;
                        transition: all 200ms ease-in-out;
                        & + button {
                            margin-left: 16px;
                        }
                        &.active {
                            background-color: $laranja;
                        }
                    }
                }
            }
        }
        .article-footer {
            margin-top: 75px;
            margin-bottom: 60px;
            h2 {
                margin-bottom: 32px;
            }
        }
    }
}
