#page-contato {
    .section-header {
        margin-bottom: 40px;
    }
}

.wpcf7-form {
    @extend .row;
}

.form-group {
    margin-bottom: 15px;
    label {
        position: relative;
        left: 16px;
        padding-left: 2px;
        padding-right: 2px;
        margin-top: -16px;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        text-transform: uppercase;
        background-color: #fff;
        z-index: 1;
    }
    select,
    input,
    textarea {
        display: block;
        width: 100%;
        height: auto;
        margin-top: -16px;
        padding: 16px;
        font-size: 18px;
        line-height: 24px;
        border: 1px solid $roxo;
        border-radius: 8px;
        -webkit-appearance: none;
        &:focus,
        &:active {
            outline: none;
            box-shadow: none;
            border-color: inherit;
        }
        &::placeholder {
            color: #929292;
        }
        &[type="submit"] {
            width: auto;
            padding: 12px 24px;
            margin-top: 16px;
            color: #fff;
            background-color: $roxo;
            border-radius: 50px;
            border: 1px solid $roxo;
            transition: all 300ms ease-in-out;
            &:hover {
                color: $roxo;
                background-color: #fff;
            }
        }
    }
    textarea {
        min-height: 112px;
    }
    .wpcf7-select,
    .custom-select {
        // position: relative;
        // &:after {
        //     content: '';
        //     display: block;
        //     position: absolute;
        //     top: 50%;
        //     right: 16px;
        //     transform: translateY(-50%);
        //     width: 20px;
        //     height: 12px;
        //     background-image: url("data:image/svg+xml,%3Csvg width='20' height='12' viewBox='0 0 20 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.16406 0.0859375L0.0859375 1.16406L9.46094 10.5391L10 11.0547L10.5391 10.5391L19.9141 1.16406L18.8359 0.0859375L10 8.92188L1.16406 0.0859375Z' fill='%23E9973E'/%3E%3C/svg%3E");
        // }
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='12' viewBox='0 0 20 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.16406 0.0859375L0.0859375 1.16406L9.46094 10.5391L10 11.0547L10.5391 10.5391L19.9141 1.16406L18.8359 0.0859375L10 8.92188L1.16406 0.0859375Z' fill='%23E9973E'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: auto;
        background-position: calc(100% - 15px) center;
    }
}

.form-header {
    font-size: 16px;
    line-height: 21px;
    h2 {
        font-weight: 400;
        font-size: 26px;
        line-height: 31px;
        margin-bottom: 32px;
    }
}

.form-unidade {
    overflow: hidden;
    max-height: 0px;
    transition: all 500ms ease-in-out;
    &.open {
        margin-bottom: 40px;
        max-height: 1000px;
    }
}

.tabs-contato {
    margin-bottom: 57px;
    .nav-item {
        & + .nav-item {
            margin-left: 16px;
        }
    }
    .nav-link {
        height: 100%;
        padding: 32px;
        text-align: left;
        border-radius: 16px;
        border: 1px solid transparent;
        .texto {
            max-width: 350px;
            h3 {
                font-weight: 700;
                font-size: 24px;
                line-height: 21px;
                margin-bottom: 24px;
            }
            p {
                margin-bottom: 0;
            }
        }
        &#franquia-tab {
            background-color: #f2eef6;
            &.active {
                color: $roxo;
                border: 1px solid $roxo;
                box-shadow: 0px 12px 24px -8px rgba(118, 83, 156, 0.16);
            }
        }
        &#franqueada-tab {
            background-color: #fcf3e8;
            &.active {
                color: $roxo;
                border: 1px solid #e9973e;
                box-shadow: 0px 12px 24px -8px rgba(233, 151, 62, 0.16);
            }
        }
    }
}

.spa-form {
    margin-left: -8px;
    margin-right: -8px;
    [class^="col"] {
        padding-left: 8px;
        padding-right: 8px;
    }
}
