#page-franqueadas {
    .page-header {
        min-width: 100%;
        margin-top: 73px;
        margin-bottom: 73px;
    }

    #passos {
        position: relative;
        z-index: 2;
        @include breakpoint(lg) {
            margin-bottom: -180px;
        }
        .text-header {
            margin-left: 63px;
            @include breakpoint(lg) {
                margin-left: 110px;
            }
        }
        .nav {
            li {
                & + li {
                    margin-top: 40px;
                }
                &:nth-child(1) {
                    .numero {
                        &::before {
                            background-image: url("images/icons/icn-cadastro-1.svg");
                        }
                    }
                }
                &:nth-child(2) {
                    .numero {
                        &::before {
                            background-image: url("images/icons/icn-cadastro-2.svg");
                        }
                    }
                }
                &:nth-child(3) {
                    .numero {
                        &::before {
                            background-image: url("images/icons/icn-cadastro-3.svg");
                        }
                    }
                }
                .numero {
                    position: relative;
                    min-width: 50px;
                    margin-right: 20px;
                    @include breakpoint(lg) {
                        min-width: 90px;
                    }
                    &:before {
                        content: "";
                        display: block;
                        width: 100px;
                        height: 100px;
                        position: absolute;
                        right: 25px;
                        top: -45px;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }
                .passo {
                    h3 {
                        color: $laranja;
                        font-size: 32px;
                        line-height: 48px;
                    }
                }
            }
        }
    }

    #video {
        position: relative;
        padding-top: 100px;
        // margin-bottom: -150px;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 200px;
            background-color: #fff;
        }
        .video-player {
            max-width: 960px;
            margin: 60px auto 0;
            height: 490px;
            border-radius: 16px;
            overflow: hidden;
            z-index: 2;
        }
    }

    #franquias {
        position: relative;
        margin-top: 100px;
        h2 {
            margin-bottom: 40px;
        }
        .numero {
            & + .numero {
                h3 {
                    &:before {
                        top: -15px;
                        left: 48%;
                        width: 100px;
                        height: 100px;
                        background-image: url("images/icons/icn-cadastro-2.svg");
                        background-size: contain;
                    }
                }
            }
            h3 {
                padding-top: 30px;
                font-weight: 500;
                font-size: 56px;
                line-height: 67px;
                letter-spacing: -2px;
                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 60%;
                    display: block;
                    width: 91px;
                    height: 78px;
                    background-image: url("images/icons/icn-cadastro-1.svg");
                    background-position: center;
                    background-repeat: no-repeat;
                    transform: translate(-50%, 0);
                    z-index: 0;
                }
                span {
                    position: relative;
                    z-index: 1;
                }
            }
            h4 {
                font-size: 26px;
                line-height: 31px;
                color: #e9973e;
            }
            p {
                margin: 0 auto;
                max-width: 240px;
            }
        }
        .mapa {
            ul {
                list-style: disc;
                padding-left: 20px;
                font-size: 12px;
                line-height: 18px;
            }
            #resultados-mapa {
                padding-top: 40px;
                h3 {
                    margin-bottom: 25px;
                }
            }
        }
    }

    #diferenciais {
        &.candidatas {
            margin-top: 100px;
            margin-bottom: 180px;
            padding-top: 73px;
            padding-bottom: 92px;
            position: relative;
            &:after {
                content: "";
                display: block;
                width: 244px;
                height: 278px;
                position: absolute;
                bottom: -100px;
                left: 0;
                background-image: url(images/candidatas/diferenciais-heart.svg);
                background-size: contain;
                z-index: 1;
            }
        }
        margin-bottom: 100px;
        .page-header {
            margin-bottom: 85px;
        }
        .diferencial-item {
            margin-bottom: 16px;
            .icon {
                position: relative;
                min-width: 48px;
                height: 48px;
                margin-right: 16px;
                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }

    #depoimentos {
        margin-bottom: 120px;
        #owl-depoimentos-1 {
            margin-top: 56px;
            .depoimento {
                margin-left: 45px;
                max-width: 465px;
                h3 {
                    font-weight: 500;
                    font-size: 28px;
                    line-height: 36px;
                    margin-bottom: 24px;
                }
                h4 {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 21px;
                }
                p {
                    margin-bottom: 0;
                }
            }
        }
        #owl-depoimentos-1-nav {
            padding-top: 85px;
            margin-left: 45px;
        }
        #owl-depoimentos-2 {
            pointer-events: none;
            .owl-stage-outer {
                overflow: visible;
                .owl-item {
                    opacity: 0;
                    transition: all 300ms ease-in-out;
                    &.active {
                        opacity: 1;
                        & + .active {
                            opacity: 0.1;
                        }
                    }
                }
            }
            .foto {
                position: relative;
                border-radius: 16px;
                padding-bottom: 200%;
                overflow: hidden;
                &:after {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: linear-gradient(180deg, rgba(118, 83, 156, 0) 44.79%, #76539c 100%);
                }
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    #detalhamentos {
        margin-bottom: 120px;
        .detalhamento {
            border: 1px solid #c4c4c4;
            border-radius: 8px;
            overflow: hidden;
            &.roxo {
                .detalhamento-header {
                    background-color: $roxo;
                }
                .detalhamento-footer {
                    background-color: rgba($roxo, 0.1);
                }
            }
            &.laranja {
                .detalhamento-header {
                    color: $roxo;
                    background-color: $laranja;
                    .laranja {
                        color: #fff;
                    }
                }
                .detalhamento-footer {
                    color: $roxo;
                    background-color: rgba($laranja, 0.1);
                }
            }
            .detalhamento-header {
                padding: 12px 0;
                color: #fff;
                font-size: 18px;
                line-height: 21px;
            }
            .detalhamento-body {
                padding: 40px 60px;
                color: #333;
                ul {
                    li {
                        background-image: url("images/icons/icn-check.svg");
                        background-repeat: no-repeat;
                        background-position: 0 center;
                        padding-left: 30px;
                        & + li {
                            margin-top: 16px;
                        }
                        strong {
                            color: $roxo;
                        }
                    }
                }
            }
            .detalhamento-footer {
                padding: 24px;
                p {
                    margin-bottom: 0;
                    font-size: 18px;
                    line-height: 21px;
                }
                h3 {
                    font-size: 44px;
                    line-height: 44px;
                }
            }
        }
    }

    #entrevistas {
        margin-bottom: 120px;
        .section-header {
            margin-bottom: 45px;
        }
        #owl-depoimentos-3 {
            margin-bottom: 40px;
            .franqueadas-item {
                text-align: center;
                .foto {
                    position: relative;
                    margin: 0 auto 16px;
                    width: 225px;
                    height: 225px;
                    border-radius: 100%;
                    overflow: hidden;
                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                h3 {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 21px;
                }
                p {
                    margin-bottom: 0;
                    font-size: 14px;
                    line-height: 21px;
                }
            }
        }
        #owl-depoimentos-4 {
            .depoimento {
                .resposta {
                    margin-bottom: 32px;
                    strong {
                        display: block;
                        margin-bottom: 8px;
                        font-size: 18px;
                        line-height: 21px;
                        font-weight: 600;
                    }
                }
            }
        }
    }

    #hero {
        position: relative;
        &:before {
            content: "";
            width: 449px;
            height: 440px;
            position: absolute;
            bottom: -300px;
            left: 0;
            background-image: url(images/candidatas/hero-heart.svg);
            @include breakpoint(md) {
                display: block;
            }
        }
        .page-header {
            text-align: left;
            h1 {
                margin-bottom: 64px;
                text-align: left;
                span {
                    display: inline-block;
                    position: relative;
                    &:before {
                        content: "";
                        display: block;
                        width: 140%;
                        height: 112%;
                        position: absolute;
                        top: 45%;
                        left: 67%;
                        background-image: url(images/icons/icn-risco-2.svg);
                        background-repeat: no-repeat;
                        background-size: contain;
                        transform: translate(-50%, -50%);
                    }
                }
            }
            p {
                max-width: 360px;
            }
        }
        .img {
            position: relative;
            &:after {
                content: "";
                display: block;
                width: 91px;
                height: 78px;
                position: absolute;
                bottom: 80px;
                left: -25px;
                background-image: url(images/candidatas/img-heart.svg);
            }
        }
    }

    #unidades {
        position: relative;
        padding-top: 64px;
        margin-bottom: 45px;
        background: linear-gradient(321.81deg, #5f3d85 22.93%, #76539c 75.3%);
        &::before {
            content: "";
            display: block;
            width: 100%;
            height: 70px;
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: #fff;
            z-index: 1;
        }
        .container {
            max-width: 840px;
            &.sm {
                max-width: 780px;
            }
        }
        h2 {
            margin-bottom: 41px;
        }
        h5 {
            margin-bottom: 16px;
            font-weight: 600;
            font-size: 18px;
            line-height: 21px;
        }
        .form-container {
            position: relative;
            z-index: 2;
            p {
                margin-top: 16px;
                color: $roxo;
            }
            input {
                &[type="text"] {
                    border: none;
                    box-shadow: 0px 8px 20px -8px rgba(0, 0, 0, 0.15);
                }
            }
        }
    }
}
