#page-home {
    padding-top: 0;
    #hero {
        position: relative;
        &:before {
            content: "";
            display: block;
            width: 100%;
            height: 160px;
            background-color: $laranja;
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 1;
            @include breakpoint(md) {
                height: 83px;
            }
        }
        .container {
            position: relative;
            z-index: 2;
            @include breakpoint(md) {
                background-image: url("images/bg-menu.svg");
                background-repeat: no-repeat;
                background-position: 100% -60px;
                background-size: 600px;
            }
        }
        .text {
            padding-top: 140px;
            @include breakpoint(md) {
                padding-top: 0;
                padding-bottom: 100px;
            }
            h1 {
                margin-top: 0;
                margin-bottom: 24px;
                font-weight: 700;
                letter-spacing: -0.02em;
                font-size: 33px;
                line-height: 33px;
                @include breakpoint(md) {
                    font-size: 80px;
                    line-height: 72px;
                }
                span {
                    display: inline-block;
                    position: relative;
                    &:before {
                        content: "";
                        display: block;
                        width: 120%;
                        height: 120%;
                        position: absolute;
                        top: -10%;
                        left: -10%;
                        background-image: url("images/icons/icn-risco.svg");
                        background-repeat: no-repeat;
                        background-size: contain;
                    }
                }
            }
            h5 {
                margin-top: 0;
                margin-bottom: 15px;
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 0.2em;
                text-transform: uppercase;
                color: #e9973e;
            }
            .scroll {
                width: 180px;
                min-width: 180px;
                margin-bottom: -100px;
                position: relative;
                padding-left: 40px;
                font-weight: 400;
                font-size: 18px;
                line-height: 21px;
                text-align: left;
                @include breakpoint(md) {
                    margin-bottom: 0;
                    width: auto;
                    max-width: none;
                    padding-left: 200px;
                }
                &::before {
                    content: "";
                    display: block;
                    width: 24px;
                    height: 40px;
                    margin-right: 16px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-image: url("images/icons/icn-down.svg");
                    background-repeat: no-repeat;
                    @include breakpoint(md) {
                        left: 150px;
                    }
                }
            }
        }
        .img {
            img {
                transform: translate(80px, 0);
                @include breakpoint(md) {
                    transform: translateX(-80px);
                }
            }
        }
        .botao-rotativo {
            position: absolute;
            width: 150px;
            z-index: 1;
            left: 15px;
            bottom: 85px;
            @include breakpoint(md) {
                left: auto;
                bottom: auto;
                right: -20px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    #conteito {
        padding-top: 60px;
        .section-header {
            padding-bottom: 48px;
            background-image: url("images/bg-heart.svg");
            background-repeat: no-repeat;
            background-position: right 225%;
            h2 {
                color: $laranja;
            }
            p {
                margin-bottom: 16px;
            }
        }
        .video-player {
            height: 220px;
            @include breakpoint(md) {
                height: 430px;
            }
        }
    }
    #depoimentos {
        position: relative;
        padding-top: 80px;
        // padding-bottom: 70px;
        z-index: 5;
        h2 {
            margin-bottom: 45px;
            @include breakpoint(md) {
                margin-bottom: 0;
            }
        }
        .depoimento-box {
            margin-bottom: 16px;
            padding: 32px 24px;
            border: 2px solid $laranja;
            border-radius: 16px;
            &.box-1 {
                @include breakpoint(md) {
                    transform: translate(15px, -50px);
                }
            }
            &.box-2 {
                @include breakpoint(md) {
                    transform: translate(30px, 50px);
                }
            }
            &.box-3 {
                @include breakpoint(md) {
                    transform: translate(15px, -50px);
                }
            }
            h5 {
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #e9973e;
            }
            h4 {
                font-weight: 400;
                font-size: 16px;
                line-height: 21px;
            }
            h3 {
                font-weight: 700;
                font-size: 24px;
                line-height: 28px;
                color: #ffffff;
            }
        }
        #owl-depoimentos {
            position: relative;
            @include breakpoint(md) {
                margin-top: -50px;
                margin-bottom: -150px;
            }
            &::after {
                content: "";
                position: absolute;
                left: -110px;
                top: 32%;
                display: none;
                width: 117px;
                height: 99px;
                background-image: url("images/icons/icn-heart-group.svg");
                transform: translateY(-50%);
                @include breakpoint(md) {
                    display: block;
                }
            }
            .video-player {
                padding-bottom: 130%;
                border-radius: 16px;
                overflow: hidden;
                @include breakpoint(md) {
                    padding-bottom: 180%;
                    margin-bottom: -50px;
                }
                &::before {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(180deg, rgba(118, 83, 156, 0) 44.79%, #76539c 100%);
                    z-index: 2;
                }
                .cover {
                    z-index: 1;
                }
                .play {
                    z-index: 3;
                }
                .info {
                    position: absolute;
                    width: 100%;
                    padding-left: 25px;
                    padding-right: 25px;
                    bottom: 32px;
                    text-align: center;
                    z-index: 3;
                    h4 {
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 21px;
                        color: #ffffff;
                    }
                    h5 {
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 14px;
                        letter-spacing: 0.2em;
                        text-transform: uppercase;
                        color: #e9973e;
                    }
                }
            }
            .owl-stage-outer {
                overflow: visible;
            }
            .owl-item {
                opacity: 0;
                transition: all 200ms ease-in-out;
                pointer-events: none;
                &.active {
                    opacity: 1;
                    pointer-events: auto;
                    & + .active {
                        transition: all 0ms ease-in-out;
                        transform: translateY(20%);
                    }
                }
            }
            .owl-nav {
                margin-top: 100px;
                button {
                    opacity: 1;
                    transition: all 200ms ease-in-out;
                    &:hover {
                        opacity: 0.5;
                    }
                    & + button {
                        margin-left: 54px;
                    }
                }
            }
            .owl-dots {
                margin-top: 32px;
                margin-bottom: 32px;
                text-align: center;
                button {
                    display: inline-block;
                    width: 8px;
                    height: 8px;
                    border-radius: 8px;
                    background-color: #fff;
                    opacity: 0.3;
                    transition: all 200ms ease-in-out;
                    & + button {
                        margin-left: 16px;
                    }
                    &.active {
                        background-color: #e9973e;
                        opacity: 1;
                    }
                }
            }
        }
    }
    #servicos {
        position: relative;
        padding-top: 80px;
        color: #fff;
        background-color: #523b6b;
        overflow: hidden;
        z-index: 4;
        @include breakpoint(md) {
            padding-top: 200px;
            padding-bottom: 100px;
        }
        .section-header {
            margin-bottom: 40px;
            @include breakpoint(md) {
                margin-bottom: 110px;
            }
        }
        #owl-servicos {
            .owl-stage-outer {
                overflow: visible;
            }
            .owl-nav {
                margin-top: 70px;
                @extend .d-flex;
                @extend .justify-content-center;
                button {
                    transition: all 200ms ease-in-out;
                    opacity: 1;
                    & + button {
                        margin-left: 48px;
                    }
                    &.disabled {
                        opacity: 0.4;
                    }
                }
            }
        }
        .servico {
            text-align: center;
            @include breakpoint(md) {
                text-align: left;
            }
            .numero {
                @include breakpoint(md) {
                    margin-right: 20px;
                }
                h3 {
                    margin: 0;
                    font-weight: 700;
                    font-size: 64px;
                    line-height: 64px;
                    letter-spacing: -0.02em;
                    opacity: 0.2;
                }
            }
            .texto {
                h4 {
                    margin: 0;
                    font-size: 18px;
                    line-height: 21px;
                    font-weight: 400;
                    @include breakpoint(md) {
                        font-size: 26px;
                        line-height: 31px;
                    }
                }
                h2 {
                    margin-bottom: 11px;
                    font-weight: 500;
                    font-size: 32px;
                    line-height: 32px;
                    letter-spacing: -0.02em;
                    @include breakpoint(md) {
                        margin-bottom: 0;
                        font-size: 56px;
                        line-height: 56px;
                    }
                }
                .seta {
                    color: #fff;
                    font-size: 14px;
                    line-height: 17px;
                }
            }
        }
    }
    #franquias {
        padding-top: 80px;
        padding-bottom: 65px;
        color: #fff;
        background: linear-gradient(133.08deg, #e9b93e 10.54%, #e9973e 85.34%);
        .section-header {
            margin-bottom: 20px;
            .hearted {
                .outline {
                    color: $roxo;
                    -webkit-text-fill-color: transparent;
                }
            }
        }
        .busca {
            h4 {
                margin-bottom: 16px;
                font-weight: 600;
                font-size: 18px;
                line-height: 21px;
            }
            form {
                margin-bottom: 32px;
            }
            .resultados {
                font-size: 16px;
                line-height: 21px;
                h3 {
                    font-weight: 700;
                    font-size: 32px;
                    line-height: 40px;
                    letter-spacing: -0.02em;
                    margin-bottom: 12px;
                }
                .nav {
                    margin-bottom: 16px;
                    & + h3 {
                        margin-top: 28px;
                    }
                }
            }
        }
    }
    #blog {
        padding-top: 107px;
        padding-bottom: 107px;
        .section-header {
            margin-bottom: 66px;
        }
        #owl-blog {
            .owl-dots {
                margin-top: 32px;
                margin-bottom: 0;
                text-align: center;
                button {
                    display: inline-block;
                    width: 8px;
                    height: 8px;
                    border-radius: 8px;
                    background-color: #76539c;
                    opacity: 0.3;
                    transition: all 200ms ease-in-out;
                    & + button {
                        margin-left: 16px;
                    }
                    &.active {
                        background-color: #e9973e;
                        opacity: 1;
                    }
                }
            }
        }
    }
}
