#page-servicos {
    .section-header {
        margin-bottom: 24px;
    }
}

.servico {
    margin-bottom: 50px;
    ul {
        padding-left: 30px;
        margin-bottom: 0;
    }
}

.servico-header {
    h2 {
        font-weight: 700;
        font-size: 56px;
        line-height: 56px;
        letter-spacing: -0.02em;
        margin-bottom: 40px;
        color: $laranja;
    }
    h3 {
        margin-bottom: 0;
        font-size: 26px;
        line-height: 31px;
    }
}
