#page-sobre {
    .page-header {
        padding-top: 65px;
        padding-bottom: 42px;
    }

    #fotos {
        margin-bottom: 50px;
        background-image: url("images/sobre/sobre-bg.png");
        background-position: center top;
        background-repeat: no-repeat;
        .fotos-container {
            position: relative;
            height: 400px;
            .foto {
                position: absolute;
                top: 50%;
                left: 50%;
                object-fit: cover;
                border-radius: 15px;
                &.foto-01 {
                    width: 300px;
                    height: 360px;
                    transform: translate(-50%, -50%);
                }
                &.foto-02 {
                    width: 270px;
                    height: 324px;
                    transform: translate(-160%, -25%) rotate(-4deg);
                }
                &.foto-03 {
                    width: 270px;
                    height: 324px;
                    transform: translate(60%, -30%) rotate(4deg);
                }
                &.foto-04 {
                    width: 240px;
                    height: 288px;
                    transform: translate(-285%, -30%) rotate(-8deg);
                }
                &.foto-05 {
                    width: 240px;
                    height: 288px;
                    transform: translate(185%, -30%) rotate(8deg);
                }
            }
        }
    }

    #numeros {
        padding-top: 100px;
        padding-bottom: 130px;
        .section-header {
            margin-bottom: 95px;
        }
        .col-numero {
            position: relative;
            &:before {
                content: "";
                display: block;
                width: 91px;
                height: 78px;
                position: absolute;
                top: -40px;
                left: 50%;
                transform: translateX(-25%);
                background-image: url("images/icons/icn-cadastro-1.svg");
                z-index: 1;
            }
            & + .col-numero {
                &:before {
                    top: -15px;
                    width: 81px;
                    height: 70px;
                    transform: translateX(-50%);
                    background-image: url("images/icons/icn-cadastro-2.svg");
                }
                & + .col-numero {
                    &:before {
                        top: -40px;
                        width: 90px;
                        height: 91px;
                        transform: translateX(-50%);
                        background-image: url("images/icons/icn-cadastro-3.svg");
                    }
                }
            }
        }
        .numero {
            position: relative;
            z-index: 2;
            text-align: center;
            h2 {
                font-weight: 500;
                font-size: 56px;
                line-height: 67px;
                letter-spacing: -2px;
            }
            h3 {
                font-weight: 400;
                font-size: 26px;
                line-height: 31px;
                color: #e9973e;
            }
            p {
                font-size: 14px;
                line-height: 21px;
            }
        }
    }

    #valores {
        margin-bottom: 120px;
        .valores-nav {
            li {
                position: relative;
                padding-left: 24px;
                padding-bottom: 16px;
                padding-right: 0;
                padding-top: 24px;
                &:after {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 1px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background: linear-gradient(260.69deg, #e9973e 7.04%, rgba(233, 151, 62, 0) 92.96%);
                    transform: rotate(180deg);
                }
                .icone {
                    margin-right: 24px;
                }
                h3 {
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 47px;
                    color: $laranja;
                    @include breakpoint(md) {
                        font-size: 32px;
                        line-height: 38px;
                    }
                }
                p {
                    font-size: 14px;
                    line-height: 18px;
                    @include breakpoint(md) {
                        font-size: 16px;
                        line-height: 21px;
                    }
                }
            }
        }
    }

    #timeline {
        margin-bottom: 96px;
        .section-header {
            margin-bottom: 34px;
            @include breakpoint(md) {
                margin-bottom: -85px;
            }
        }
        .timeline-row {
            position: relative;
            margin-bottom: 48px;
            @include breakpoint(md) {
                margin-bottom: 72px;
            }
            &:first-child {
                &:after {
                    top: auto;
                    bottom: -72px;
                    height: calc(50% + 72px);
                    transform: translate(-50%, 0);
                }
            }
            &:last-child {
                &:after {
                    top: -72px;
                    height: calc(50% + 72px);
                    transform: translate(-50%, 0);
                }
            }
            &:after {
                content: "";
                display: block;
                width: 2px;
                height: calc(100% + 72px);
                position: absolute;
                left: 35px;
                top: 50%;
                transform: translate(0, -50%);
                background-color: $roxo;
                @include breakpoint(md) {
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            &:before {
                content: "";
                display: block;
                width: 36px;
                height: 36px;
                position: absolute;
                left: 18px;
                top: 50%;
                transform: translate(0, -50%);
                background-image: url("images/icons/icn-point.svg");
                @include breakpoint(md) {
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            .ano {
                padding: 0 92px;
                h3 {
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 36px;
                    color: #e9973e;
                    @include breakpoint(md) {
                        font-size: 32px;
                        line-height: 38px;
                    }
                }
                p {
                    font-size: 14px;
                    line-height: 21px;
                    @include breakpoint(md) {
                        font-size: 16px;
                        line-height: 21px;
                    }
                }
            }
        }
    }

    #destaques {
        @include breakpoint(md) {
            margin-bottom: 145px;
        }
        .section-header {
            margin-bottom: 54px;
        }
        .logos-container {
            text-align: center;
            a {
                display: inline-block;
                margin-bottom: 30px;
            }
            .logo {
                transition: all 250ms ease-in-out;
                filter: grayscale(100%);
                &:hover {
                    filter: grayscale(0%);
                }
            }
        }
    }
}
