#page-unidades {
    .page-header {
        padding-top: 42px;
        padding-bottom: 56px;
        h2 {
            margin-bottom: 40px;
        }
        h4 {
            font-weight: 600;
            font-size: 18px;
            line-height: 21px;
        }
        p {
            font-size: 12px;
            line-height: 14px;
        }
    }
    form {
        margin: 16px auto;
    }
}

.search {
    #page-unidades {
        .page-header {
            position: relative;
            &::before {
                content: "";
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 50%;
                background-color: #fff;
            }
            form {
                input {
                    border: none;
                    box-shadow: 0px 8px 20px -8px rgba(0, 0, 0, 0.15);
                }
            }
        }
        #resultados {
            h3 {
                margin-bottom: 8px;
                font-size: 16px;
                line-height: 21px;
                color: #929292;
            }
            h2 {
                font-weight: 500;
                font-size: 24px;
                line-height: 28px;
                margin-bottom: 32px;
            }
            .unidade {
                margin-bottom: 24px;
                padding: 16px;
                border: 16px;
                box-shadow: 0px 8px 20px -8px rgba(0, 0, 0, 0.15);
                .cover {
                    position: relative;
                    width: 30%;
                    min-width: 30%;
                    max-width: 30%;
                    padding-bottom: 30%;
                    margin-right: 24px;
                    border-radius: 8px;
                    overflow: hidden;
                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .detalhes {
                    width: 70%;
                    min-width: 70%;
                    max-width: 70%;
                    display: -ms-flexbox;
                    display: flex;
                    -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                    -ms-flex-wrap: wrap;
                    .texto {
                        font-size: 16px;
                        line-height: 21px;
                        color: #929292;
                        h6 {
                            font-size: 14px;
                            line-height: 21px;
                            color: #929292;
                        }
                        h3 {
                            margin-bottom: 16px;
                            font-weight: 500;
                            font-size: 24px;
                            line-height: 28px;
                            align-items: center;
                            color: #76539c;
                        }
                        p {
                            margin-bottom: 0;
                        }
                    }
                    ul {
                        width: 80%;
                        margin-bottom: 10px;
                        list-style: none;
                        padding-left: 0;
                        li {
                            a {
                                display: flex;
                                font-size: 14px;
                                line-height: 17px;
                                align-items: center;
                                &.whatsapp {
                                    .icone {
                                        background-image: url("images/icons/icn-whatsapp-roxo.svg");
                                    }
                                }
                                &.instagram {
                                    .icone {
                                        background-image: url("images/icons/icn-instagram-roxo.svg");
                                    }
                                }
                                .icone {
                                    display: block;
                                    width: 32px;
                                    height: 32px;
                                    margin-right: 8px;
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    background-size: 22px;
                                }
                                span {
                                    display: block;
                                    font-weight: 500;
                                    font-size: 12px;
                                    line-height: 14px;
                                    color: #e9973e;
                                }
                            }
                        }
                    }
                }
            }
        }
        #no-results {
            margin-top: 45px;
            margin-bottom: 45px;
            h5 {
                margin-bottom: 8px;
                font-weight: 400;
                font-size: 18px;
                line-height: 21px;
            }
            h2 {
                font-weight: 500;
                font-size: 40px;
                line-height: 48px;
                letter-spacing: -0.02em;
            }
            p {
                margin-bottom: 32px;
            }
        }
    }
}
