h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
    .outline {
        color: inherit;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: inherit;
    }
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: -0.02em;
    @include breakpoint(lg) {
        font-size: 64px;
        line-height: 64px;
    }
    &.hearted {
        color: $laranja;
        position: relative;
        padding-left: 40px;
        &:before {
            content: "";
            position: absolute;
            top: 15px;
            left: 0;
            display: block;
            width: 33px;
            height: 38px;
            background-image: url("images/icons/icn-heart.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
        &.center {
            display: flex;
            align-items: center;
            justify-content: center;
            &:before {
                position: relative;
                top: 0;
                left: 0;
                margin-right: 16px;
            }
        }
        &.branco {
            color: $laranja;
            &:before {
                background-image: url("images/icons/icn-heart-white.svg");
            }
            .branco {
                color: #fff;
            }
        }
        &.roxo {
            color: $roxo;
            &:before {
                background-image: url("images/icons/icn-heart-orange.svg");
            }
        }
        .align-center {
            @include breakpoint(md) {
                display: inline-block;
                margin: -10px 0px 0px 95px;
                font-size: 48px;
                line-height: 48px;
                letter-spacing: -0.02em;
            }
        }
    }
}
